@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
  }

  .tags {
    @apply px-2 py-1 rounded-md bg-mgld;
  }

  .cta-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(46, 46, 41, 0.629),
        rgba(43, 42, 39, 0.715)
      ),
      url(./images/pattern.jpg);
    background-size: cover;
    background-position: center;
  }

  .wave {
    background-image: url(./images/pattern.svg);
    background-size: cover;
    background-position: top;
  }

  .backdrop {
    background: #ffffffa2;
  }

  .feature-logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    height: 5rem;
    pointer-events: none;
  }

  .overlay {
    @apply fixed h-full w-full top-0 right-0;
    background: rgba(0, 0, 0, 0.329);
  }
}
